

.book{
    display:flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.book-body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.book-details{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:10px;
}

.book-cover{
    width:120px;
}