.App{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  background-color: black;
}
.search-bar{
    margin:20px;
outline: none;
border:none;
width:100%;


}

.search-bar >form >input{
    outline: none;
    border:none; 
   width:40%;
   max-width:500px;
padding:10px 20px;

border-top-left-radius:999px;
border-bottom-left-radius:999px;
}

.search-bar >form {
    display: flex;
    justify-content: center; 
} 
.search-bar >form >input:focus{
    outline: none;
    border:none; 
}
.book{
    font-size:14px;
    width:400px;
    display:flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(245, 236, 165);
    margin:20px;
    padding:20px;
    border-radius:10px;

}
.book-list{
    display:flex;
justify-content: space-evenly;
flex-wrap: wrap;
}
.book-body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.book-details{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:10px;
}

.book-cover{
    width:120px;
}

.book-btn{
    width:30%;
    margin:auto;
    padding:10px 20px;
    color:rgb(0, 0, 0);
    background:rgb(0, 223, 0);
    border:none;
    outline:none;
    cursor:pointer;
}
.book-btn:hover{
    background:rgb(42, 249, 42);
}