

.book{
    font-size:14px;
    width:400px;
    display:flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
    background:rgb(245, 236, 165);
}

.book-body{
    display:flex;
    align-items: center;
    justify-content: center;
}

.book-details{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding:10px;
}

.book-cover{
    width:120px;
}

.book-btn{
    width:30%;
    margin:auto;
    padding:10px 20px;
    color:rgb(0, 0, 0);
    background:rgb(0, 223, 0);
    border:none;
    outline:none;
}